body 
{
    background-color: burlywood;
}

h1{
    text-align: center;
   
}

button
{
    margin : auto;
 
    height: 50px;
    width: 100px;
    position: relative;
    top: 10%;
    left: 45%;
}